.dropdown-list {
    height: 2em;
    min-height: 2em !important;
    font-size: .85em;
  
    .react-dropdown-select-dropdown {
        z-index: 999; /* make sure dropdown appears on top of other elements */
    }
}

/* *** Set --react-dropdown-select-handle-width to width or min-width of droplist element in parent, used to manage width when text overflows */
.react-dropdown-select-content span {
    max-width: calc(var(--react-dropdown-select-handle-width) - 17px); /* used to controls size of dropdown when text overflows */
    overflow: hidden;
    text-overflow:ellipsis !important;
}

.dropdown-list--item {
    padding: .5em;
    color: #555;
    cursor: pointer;
    position: relative;
}
.dropdown-list--item:hover:not(.dropdown-list--selected) {
    background: var(--light-grey);
}
.dropdown-list--selected {
    background-color: var(--blue);
    color: white;
}

/* For reference: */

/* To add an arrow icon to the left of each item */
/* .dropdown-list--item:not(.dropdown-list--root)::before {
    position: absolute;
    top: .6em;
    margin-left: -1.1em;
    font-size: .9em;
    content: "►";
} */

/* Set style for the current input item in the droplist, use !important to override library */
/* .react-dropdown-select-item.react-dropdown-select-item-selected,
.react-dropdown-select-item.react-dropdown-select-item-active {
  border: none !important;
  box-shadow: 0 0px 0px #ccc inset !important;
  background-color: red !important;
} */

/* Remove border on input, including when active */
/* .react-dropdown-select {
    border: none !important;
    box-shadow: 0 0px 0px #ccc inset !important;
} */

/* Format the dropdown icon in the input */
/* .react-dropdown-select-dropdown-handle {
    border: none !important;
    box-shadow: 0 0px 0px #ccc inset !important;
    background-color: red;
} */

/* Format droplist */
/* .react-dropdown-select-dropdown {
    border: none !important;
    box-shadow: 0 0px 0px #ccc inset !important;
    background-color: red !important;
} */

/* Format items in droplist */
/* .react-dropdown-select-item {
    border: none !important;
    box-shadow: 0 0px 0px #ccc inset !important;
    color: white;
    background-color: red !important;
} */

/* Format items in the droplist */
/* .react-dropdown-select-item {
    border: none !important;
    box-shadow: 0 0px 0px #ccc inset !important;
    background-color: red !important;
} */
