.responsive-calendar {
    /* by setting font-size, all calendar elements will correspond */
    font-size: 8px !important; /* px needs to be used for calendar to properly format */
}

.responsive-calendar-input {
    /* This has input text use default font size for page */
    font-size: 1em !important; /* default to 10px */
    width: 100%;
    text-align: left;
    color: var(--dark-grey);
    border: 1px solid var(--medium-grey);
}