.asset-allocation--chart-area {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.asset-allocation--pie-charts {
    width: 100%;
    margin-top: 1em;
    display: grid;
    grid-template-columns: .5fr .5fr;
    column-gap: 0em;
    transition: grid-template-columns .25s ease-in-out;
    overflow: hidden;
    /* display: flex;
    justify-content: space-evenly; */
}