/* Name the sections of the page for grid */
.filterbar {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.filterbar--filters {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.filterbar--filter {
  display: flex;
  flex-direction: column;
  gap: .4em;
  --react-dropdown-select-handle-width: 13em; 
  min-width: var(--react-dropdown-select-handle-width);
  white-space: nowrap;
}

.filterbar--apply {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25em;
}
.filterbar--apply .button-el--visual {
  width: 50%;
}
