.filterbar {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.filterbar--filters {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.filterbar--filter {
  display: flex;
  flex-direction: column;
  gap: .4em;
  --react-dropdown-select-handle-width: 13em; 
  min-width: var(--react-dropdown-select-handle-width);
  white-space: nowrap;
}

.filterbar--filter-textbox {
  width: 100%;
  height: 2.25em;
  padding: .3em;
  border: 1px solid var(--medium-grey);
  font-size: .9em;
  cursor: pointer;
  display: flex;
  align-items: center;
  div {
    overflow: hidden;
    text-overflow:ellipsis !important;
  }
  small {
    padding-left: .5em;
  }
}

.filterbar--filter-applied .filterbar--filter-textbox,
.filterbar--filter-applied .react-dropdown-select:not(.datefilter--precanned-dates .react-dropdown-select),
.filterbar--filter-applied .responsive-calendar-input {
  border-color: var(--blue) !important;
  background-color: var(--light-blue) !important;
}
.filterbar--filter-not-applied .filterbar--filter-textbox,
.filterbar--filter-not-applied .react-dropdown-select:not(.datefilter--precanned-dates .react-dropdown-select),
.filterbar--filter-not-applied .responsive-calendar-input {
  border-color: var(--red) !important;
  background-color: var(--light-red) !important;
}

.filterbar--apply {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25em;
}
.filterbar--apply .button-el--visual {
  width: 50%;
}
