/* Name the sections of the page for grid */
.filterbar {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.filterbar--filters {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.filterbar--filter {
  display: flex;
  flex-direction: column;
  gap: .4em;
  width: 13em;
  white-space: nowrap;
}

.filterbar--apply {
  width: 100%;
  text-align: center;
}

.filterbar .de-emphasize {
  font-size: .85em;
}