.networth-chart--options {
    width: 100%;
    display: grid;
    grid-template-columns: .5fr .5fr;
    justify-content: center;
    row-gap: .25em;
    column-gap: 1em;
    color: var(--medium-grey);
}

.networth-chart--options--sub-options {
    display: flex;
    gap: 1.5em;
    padding-top: .25em;
    width: max-content;
    border-top: 1px solid var(--medium-grey);
}

.networth-chart--options-left-side {
    justify-self: end;
}