.asset-allocation--chart-area {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.asset-allocation--pie-charts {
    width: 100%;
    margin-top: 1em;
    display: grid;
    grid-template-columns: .5fr .5fr;
    column-gap: 0em;
    overflow: hidden;
}

.asset-allocation--pie-charts--no-targets {
    border: 1px solid var(--medium-grey);
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}