/* Width and font control size of droplist input */
.datefilter {
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 11em;
  font-size: .9em;
  white-space: nowrap;
}

.datefilter--date {
  display: flex;
  gap: .25em;
  align-items: center;
}

@media (min-width: 800px) {
}