.holding-view {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.basic-table--sub-row .holding-group-list--two-line > :first-child {
  font-size: .85em;
}
.basic-table--sub-row .holding-group-list--two-line > :nth-child(2) {
  font-size: .75em;
}
