.charts--title {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.charts--title-section {
    display: flex;
    gap: .5em;
    align-items: center;
    .svg-container {
        align-self: center;
        width: .85em;
        height: .85em;
        fill: var(--medium-grey);
    }
}

.charts--title-section--label {
    color: var(--medium-grey);
    font-size: 1.2em;
}

.charts--title-section--value {
    font-size: 1.3em;
}